<div class="header-container">
    <div class="logo-container">
        <span>Cratory</span>
    </div>
    <div class="right-container">
        <div class="links-container">
            <div class="link post-job-container">
                <mat-icon aria-hidden="false" aria-label="Post a Job" class="">add_circle_outline</mat-icon>
            </div>
            <div class="link find-job-container">
                <mat-icon aria-hidden="false" aria-label="Find a Job" class="">search</mat-icon>
            </div>
        </div>
        <div class="link profile-container">
            <span class="account-name">{{accountName}}</span>
            <mat-icon aria-hidden="false" aria-label="Profile" class="">account_circle</mat-icon>
        </div>
    </div>
</div>