@import "../../../styles.scss";

.app-button {
    box-shadow: none;
    background-color: unset;
    border: unset;
    border-radius: 5px;
}

.secondary{
    color: #0e1724;
    border: 2px solid #0e1724;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:  9px;
    padding-right: 9px;
}
