<mat-card class="container">
    <div class="header-container">
        <span><strong>About the Client</strong></span>
    </div>
    <div class="body-container">
        <div class="body-content">
            <span class="content-entry">
                <mat-icon class="content-label" aria-hidden="false" aria-label="rating">person</mat-icon>
                <span class="content-values">{{name}}</span>
            </span>
            <span class="content-entry">
                <mat-icon class="content-label" aria-hidden="false" aria-label="rating">location_on</mat-icon>
                <span class="content-values">{{location}}</span>
            </span>
            <span class="content-entry">
                <mat-icon class="content-label" aria-hidden="false" aria-label="rating">reviews</mat-icon>
                <span *ngFor="let _ of starArray; index as i">
                    <mat-icon *ngIf="i<numberOfFilledStars" aria-hidden="false" aria-label="rating">star</mat-icon>
                </span>
                <span *ngIf="hasHalfStar">
                    <mat-icon aria-hidden="false" aria-label="rating">star_half</mat-icon>
                </span>
                <span *ngFor="let _ of starArray; index as i">
                    <mat-icon *ngIf="i<numberOfEmptyStars" aria-hidden="false" aria-label="rating">star_border
                    </mat-icon>
                </span>
            </span>
            <span class="content-entry">
                <mat-icon class="content-label" aria-hidden="false" aria-label="rating">event</mat-icon>
                <span class="content-values">Joined {{joinDate | timeago}}</span>
            </span>
        </div>
        <div class="button-container">
            <app-button text="VIEW PROFILE" type="secondary-stroked" (click)="handleViewProfile()"></app-button>
        </div>
    </div>
</mat-card>