<mat-card class="container">
    <div class="header-container">
        <div class="header-title-container">
            <span class="default-title"><strong>Job Details</strong></span>
            <span class="title"><strong>{{title}}</strong></span>
        </div>
        <div class="header-info-container">
            <span class="price"><strong>{{price}}</strong></span>
            <span class="location">Posted {{date | timeago}} - {{location}}</span>
        </div>
    </div>
    <mat-card-content class="body-container">
        <div class="body-info-container">
            <span class="price"><strong>{{price}}</strong></span>
            <span class="location">Posted {{date | timeago}} - {{location}}</span>
        </div>
        <div class="description-container">
            {{description}}
        </div>
        <div class="footer">
            <h4><strong>Required Skills</strong></h4>
            <div class="skills-container" *ngFor="let skill of skills">
                <mat-chip class="skill" color="warn">{{skill}}</mat-chip>
            </div>
        </div>
    </mat-card-content>
</mat-card>
