@import "../../../../styles.scss";

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $background-colour;
    overflow-y: scroll;
}

.inner-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    flex-direction: column;
    row-gap: 20px;

    @include small-screens {
        display: grid;
        width: 70%;
        align-self: center;
        column-gap: 20px;
        flex-direction: unset;
        row-gap: unset;
    }

    @include large-screens {
        display: grid;
        width: 70%;
        align-self: center;
        grid-template-columns: 6fr 2fr;
        column-gap: 20px;
        flex-direction: unset;
        row-gap: unset;
    }
}

.content-container {
    display: flex;
    width: 100%;
    height: 100%;
    row-gap: 20px;
    flex-direction: column;
}

.content-side-container {
}
