<div class="container">
    <app-job-header [status]="status" [title]="title"></app-job-header>
    <div class="inner-container">
        <div class=content-container>
            <app-job-details [price]="price" [description]="description" [skills]="skills" [title]="title"
                location="Windsor, ON" date="2021-06-09T04:19:48.622+00:00">
            </app-job-details>
        </div>
        <div class="content-side-container">
            <app-job-about-issuer name="Majid Joseph" rating="3.5" joinDate="2021-06-09T04:19:48.622+00:00" location="Windsor ON, Canada"></app-job-about-issuer>
        </div>
    </div>
</div>