<!-- <button (click)="signOut($event)">Logout</button>
<button (click)="profileClick($event)">Profile</button> -->

<div class="container">
    <div class="job-list-container">
        <app-job-card title="I need someone to take care of my lawn"
            description="I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard. I need someone to come cut my grass and take care of my entire yard."
            price="100" issuer="Majid Joseph" [skills]="['CSS', 'HTML', 'LAWN CARE', 'Wood Working', 'Cutting Grass']"
            location="Windsor, ON" rating="4.5" date="2021-06-09T04:19:48.622+00:00"></app-job-card>
    </div>
</div>