<div class="container">
    <div class="inner-container">
        <div class="title-container">
            <span class="title">{{title}}</span>
        </div>
        <div class="body-container">
            <div class="left-container">
                <div class="issuer-container">
                    <a href="#" class="issuer">{{issuer}}</a>
                </div>
                <div class="description-container">
                    <span class="description">{{description | truncate : 200 : '...' : true}}</span>
                </div>
            </div>
            <div class="right-container">
                <div class="price-container">
                    <span class="price">${{price}} CAD</span>
                </div>
                <div class="date-container">
                    <span class="date">2 days ago</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="skills-container" *ngFor="let skill of skills">
                <div class="skill">
                    {{skill}}
                </div>
            </div>
        </div>
    </div>
</div>