@import "../../../styles.scss";

.container {
}

.title {
    text-decoration: none;
    color: inherit;
}

.title:hover {
    text-decoration: underline;
}

.body-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 8fr 2fr;
    margin-top: 10px;
}

.left-container {
    width: 100%;
    height: 100%;
}

.left-container p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.right-container {
    padding-left: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.price {
    font-size: 25px;
}

.poster {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}

.poster:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    margin: 0px;
    flex-direction: column;
}

.poster-information-container-compressed {
}

.skills-container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.skill,
.mat-chip {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6b6b6b;
    width: auto;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 4px;
    font-size: 10px;
    height: 15px;
}
