<div class="container">
    <div class="info-container">
        <h1>Cratory</h1>
        <p>Welcome to my application!</p>
    </div>
    <div class="login-card-container">
        <div class="title-container">
            <h1 class="title">Sign in</h1>
        </div>
        <div class="error-message-container" *ngIf="showErrorMessage">
            <p>Email or password incorrect</p>
        </div>
        <form class="form-container" [formGroup]="form">
            <div class="fields-container">
                <div>
                    <mat-form-field class="input">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="password.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="login-button-container">
                <button class="app-button primary long" (click)="signIn()">Sign In</button>
            </div>
        </form>
        <hr>
        <div class="other-options-container">
            <button class="app-button o-auth long" (click)="signInWithGoogle()">Sign in with Google</button>
            <button class="app-button o-auth long" (click)="signInWithFacebook()">Sign in with Facebook</button>
        </div>
        <div class="sign-up-container">
            New to Cratory?
            <a href="/signup">Sign up</a>
        </div>
    </div>
</div>