@import "../../../styles.scss";

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    @include mobile{
        align-items: center;
    }

    @include tablets{
        align-items: center;
    }
}

.info-container {
    margin: 20px;
    @include mobile{
        display: none;
    }
    @include tablets{
        display: none;
    }
}

.login-card-container {
    align-self: flex-end;
    margin-right: 20vw;
    display: flex;
    width: 20vw;
    max-width: 400px;
    min-width: 300px;
    height: auto;
    border: 1px solid $text-colour;
    align-items: center;
    flex-direction: column;
    border-radius: $app-border-radius;

    @include mobile{
        border: none;
        width: 100%;
        height: auto;
        align-self: center;
        margin-right: unset;
    }

    @include tablets{
        width: 100%;
        height: auto;
        align-self: center;
        margin-right: unset;
    }
}

.title-container {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

.title {
}

.fields-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    width: 250px;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.other-options-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.sign-up-container{
    margin-bottom: 3px;
    font-size: 12px;
}

a{
    text-decoration: none;
}