@import "../../../styles.scss";

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.info-container {
}

.login-card-container {
    display: flex;
    width: 20vw;
    max-width: 400px;
    min-width: 300px;
    height: 500px;
    margin: 50px;
    border: 1px solid $text-colour;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.title-container {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

.title {
}

.fields-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    width: 250px;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.other-options-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


