<div class="container">
    <div class="info-container">
        <h1>Cratory</h1>
        <p>Welcome to my application!</p>
    </div>
    <div class="login-card-container">
        <div class="title-container">
            <h1 class="title">Sign in</h1>
        </div>
        <div class="form-container">
            <div class="fields-container">
                <div>
                    <mat-form-field class="input">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </div>
            </div>
            <div class="login-button-container">
                <app-button buttonText="Sign in" type="primary" buttonWidth="long"></app-button>
            </div>
        </div>
        <hr>
        <div class="other-options-container">
            <app-button buttonText="Sign in with Google" [handler]="loginWithGoogle" type="o-auth" buttonWidth="long">
            </app-button>

            <app-button buttonText="Sign in with Facebook" [handler]="loginWithFacebook" type="o-auth" buttonWidth="long">
            </app-button>
        </div>
        <div class="sign-up-container">
            New to Cratory?
            <a href="#">Sign up</a>
        </div>
    </div>
</div>