@import "../../../styles.scss";

.container {
    display: grid;
    height: 250px;
    grid-template-rows: 0.8fr 3fr;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid $card-border-colour;
    // padding-bottom: 10px;
    font-size: 20px;
    color: $darkest-blue;
}

.body-container{
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    flex-direction: column;
    grid-template-rows: 1fr 5fr;
}

.body-message{
    font-size: 16px;
    font-weight: 400;
}

.form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
