
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cratory-primary: mat-palette($mat-indigo);
$cratory-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cratory-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cratory-theme: mat-light-theme((
  color: (
    primary: $cratory-primary,
    accent: $cratory-accent,
    warn: $cratory-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cratory-theme);

/* colour themes */
$white: #FFFFFF;
$black: #11151C;
$blue: #1871c9;
$dark-blue: #3D5A80;
$pale: #98C1D9;
$cyan: #E0FBFC;
$sienna: #EE6C4D;
$gunmetal: #293241;
$text-colour: #6b6b6b;
$card-border-colour: #AAB8C2;

/* App Variables */
$app-border-radius: 15px;

html, body { height: 100%; }
body { margin: 0; font-family: Arial; color: $text-colour; font: Arial;}

hr {
  margin: 25px;
  border: 0;
  clear: both;
  display: block;
  width: 90%;
  background-color: #AAB8C2;
  height: 1px;
}

.app-button{
  box-shadow: none;
  height: 45px;
  border-radius: 50px;
  transition: 0.2s;
  font-size: 15px;
  outline: none;
  border: none;
  font-weight: bold;
  margin: 10px;
  color: $text-colour;
}

.primary{
  background-color: $blue;
  color: $white;
  border: 1px solid $gunmetal;
}

.primary:hover{
  background-color: $gunmetal;
}

.long{
  width: 250px;
}

.short{
  width: 100px;
}

.o-auth{
  background-color: $white;
  border: 2px solid $gunmetal;
  transition: border-width 0.01s linear;
}

.o-auth:hover{
  border-width: 3px;
}

/* Media Queries */
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablets {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin desktops {
  @media (min-width: 769px) {
    @content;
  }
}