<div class="container">
    <div class="card-container">
        <div class="title-container">
            <h1 class="title">Sign Up</h1>
        </div>
        <form class="form-container" [formGroup]="form">
            <div class="fields-container">
                <div>
                    <mat-form-field class="input">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error *ngIf="firstName.hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error *ngIf="lastName.hasError('required')">
                            Last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="password.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="button-container">
                <button class="app-button primary long" (click)="signUp()">Sign Up</button>
            </div>
            <div class="error-message-container" *ngIf="showErrorMessage">
                <p>Email already exists</p>
            </div>
        </form>
        <hr>
        <div class="other-options-container">
            <button class="app-button o-auth long" (click)="signInWithGoogle()">Sign in with Google</button>
            <button class="app-button o-auth long" (click)="signInWithFacebook()">Sign in with Facebook</button>
        </div>
        <div class="sign-up-container">
            Already have an account?
            <a href="/signin">Sign In</a>
        </div>
    </div>
</div>